service-adapter-ejb/src/main/resources/schemas/Store.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="Store" type="Store" />

	<xs:complexType name="Store">
		<xs:sequence>
			<xs:element name="Id" type="xs:long" />
			<xs:element name="Name" type="xs:string" minOccurs="0" />
			<xs:element name="Location" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>

