service-adapter-ejb/res/schemas/Enterprise.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Enterprise" type="Enterprise"/>

  <xs:complexType name="Enterprise">
    <xs:sequence>
      <xs:element name="Id" type="xs:long"/>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>

