service-adapter-ejb/res/schemas/Order.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Order" type="Order"/>

  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element name="Id" type="xs:long"/>
      <xs:element name="DeliveryDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="OrderingDate" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

